.DS_Store
.idea/*
**/.idea/
.idea/workspace.xml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Testing Data


# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/env_vars.py


# Data Files 

kaggle-explore/input/
tiff-explore/data
data_collection/data/
EarthDS-intro/data/
Resources/test_granule

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/



data_collection/landsat_index.pkl
data_collection/env_vars.py
data_collection/S2A_MSIL1C_20200128T090221_N0208_R007_T33NXC_20200128T105959.zip
data_collection/T37RFK_20170714T075611_TCI.jp2
data_collection/T37RFK_20170714T075611_TCI.jp2.1
tiff-explore/logging_roads_filter_1.csv
data_collection/gabon-latest.osm.pbf
data_collection/osmfilter
data_collection/osmconvert
data_collection/OSM/ogr2osm/
pc_staging/.vscode/settings.json
