[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
numpy = "*"
opencv-python = "*"
fiona = "==1.8.14"
shapely = "*"
rasterio = "*"
pandas = "*"
geopandas = "*"
matplotlib = "*"
descartes = "*"
earthpy = "*"
pygdal = "==3.1.2.6"
gdal = "*"
seaborn = "*"

[requires]
python_version = "3.7"
