[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
bcolz = "*"
seaborn = "*"
keras = "*"
tensorflow = "*"
wget = "*"
sklearn = "*"
tqdm = "*"
pillow = "*"
kaggle-data = "*"

[requires]
python_version = "3.7"
